[submodule "echo"]
	path = echo
	url = https://github.com/snalli/echo
	branch = master
[submodule "nstore"]
	path = nstore
	url = https://github.com/snalli/nstore
	branch = placement_new_on_psegments
[submodule "mnemosyne-gcc"]
	path = mnemosyne-gcc
	url = https://github.com/snalli/mnemosyne-gcc
	branch = master
[submodule "nvml"]
	path = nvml
	url = https://github.com/snalli/nvml
	branch = master
[submodule "redis"]
	path = redis
	url = https://github.com/snalli/redis
	branch = 3.2-nvml
